div{
    text-align:center;
    background-color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family:fantasy;
    font-size: 30px;
    margin-left: 350px;
    margin-right: 350px;
}

h1{
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
    background-color: burlywood;
    border-color: beige;
    margin-left: 450px;
    margin-right: 450px;
}